<section id="activities" class="w-full px-4 md:px-8 lg:px-24 py-14 bg-green-800">
  <div class="text-center text-white text-4xl md:text-5xl font-bold font-poppins mb-12">
    Aktivitas
  </div>

  <div class="max-w-screen-xl mx-auto grid gap-10 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-2">
    {% for activity in site.data.details.activities %}
      <div class="flex gap-6">
        <img
          class="object-cover rounded-[20px]"
          src="{{ activity.img }}"
          alt="{{ activity.title }}"
        />
        <div class="flex flex-col gap-2.5">
          <div class="text-white text-2xl md:text-3xl font-bold font-poppins">
            {{ activity.title }}
          </div>
          <div class="text-white text-sm md:text-base leading-relaxed font-poppins">
            {{ activity.description }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
