<section id="details" class="w-full px-4 md:px-12 lg:px-28 py-14 flex flex-col items-center gap-10">
  <div class="flex flex-col lg:flex-row justify-center items-center gap-8 w-full max-w-7xl">
    
    <div class="flex-1 flex flex-col gap-4">
      <h2 class="text-green-800 text-3xl md:text-4xl lg:text-5xl font-semibold font-poppins text-left">
        {{ site.data.details.title }}
      </h2>
      <p class="text-black text-sm md:text-base font-normal font-poppins leading-relaxed text-justify whitespace-pre-line">
        {{ site.data.details.description }}
      </p>
    </div>
    <img class="w-96 h-96" src="/assets/img/details-pict.png"/>
  </div>
</section>
